@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* { box-sizing: border-box;}

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ECECEC;
}

html { font-size: 16px;}

body { 
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}

body, h1, h2, p, figure, nav ul {
    margin: 0;
    padding: 0;
}

/* Para imagem ficar responsiva */
img { max-width: 100%;}

/* Tirar underline dos links */
a { text-decoration: none;}

/* Letra Caixa alta uppercase */
h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

h1 a {
    color:var(--cor-clara);
    background-color: var(--cor-escura);
    padding: 0.3rem 1rem;
    border-radius: 6px;
}

header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   
nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover, nav h2 a:focus, .links-menu a:hover, .links-menu a:focus {
    background-color: var(--cor-intermediaria);
}

/* Tirar icones de bolinhas da lista contidas na nav */
.links-menu {
    list-style: none;

    /* ATENÇÃO: Neste ponto fazemos com que o menu inicie escondidos (display-none) Posteriormente com a ajuda do css e Javascript, faremos os controles para exibir/esconder de forma alternada  */
    display: none;
}

/* estilos para os links contidas na ul dentro do nav */
.links-menu a{
color: var(--cor-escura);
font-weight: bold;
display: flex;
height: 50px;
justify-content: center;
align-items: center;

}

/* Regra será aplicada somente quando o menu for acionado para abertura */

.links-menu.aberto {
    /* Ativando o flex fazemos com que os links voltem a aparecer,  */
    display: flex;

    /* Fazemos com que eles fiquem um em cima do outro usando o flex-coluna */
    flex-direction: column;

    /* Ativando o position absolute e ajustamos a posição final dos links usando propriedades de coordenadas */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

/* Exercícios
1) Crie uma regra CSS para formatar o destaque com as seguintes configurações:

- Altura 500px
- Imagem de fundo (fundo-destaque)
- Imagem de fundo deve ficar parada;
- flex com alinhamento totalmente centralizado, e um elemento em cima do outro (ou seja, use o modo coluna)

2) Crie uma regra CSS para formatar o h2 e o p contidos no destaque. Faça com que os textos fiquem centralizados (text-align) e com cor cinza.
*/

.destaque {
    /* imagem de fundo */
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 88vh;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Regras especificas para h2 e paragrafo contidos no destaque */
.destaque h2, .destaque p {
    color: var(--cor-clara);
    text-align: center;

    /* Etapa 2 Aplicar animação */
    animation-name: animaDestaque;
    animation-duration: 3s;
}

/* Função CLAMP usado para deixar elementos responsivos fontes por ex. 
clamp (tamanhominimo,tamanhovariavel,tamanhomaximo)*/

.destaque h2 {
    font-size: clamp(3rem, 10vw, 7rem);}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

/* Etapa 1 Regras de animação */

@keyframes animaDestaque {
    /* De (estado inicial, quando começa) */
    from {opacity: 0;
    transform: translateY(-300px);
    }

    /* Para (estado final, como termina) */
    to{opacity: 1;

    }
}